@tailwind base;
@tailwind components;
@tailwind utilities;


/* Fondo oscuro global para toda la página */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #3b1d95; /* Fondo oscuro */
  color: #080404; /* Texto blanco por defecto */
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Asegura que el fondo cubra toda la pantalla */
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
