@tailwind base;
@tailwind components;
@tailwind utilities;

/* Aquí debes ponerlo */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Estilo para los elementos de la lista */
ul li {
  transition: transform 0.3s ease-in-out; /* Añade una transición suave */
}

ul li:hover {
  transform: translateX(20px); /* Mueve a la derecha cuando el mouse pasa por encima */
}

/* Reset básico */
html, body {
  @apply bg-background text-neon-green; /* Aquí puedes usar las variables de Tailwind para colores */
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Para que #root siempre ocupe toda la pantalla */
#root {
  width: 100%;
  min-height: 100vh;
}

/* Fondo blanco o gradiente global */
body {
  background-color: var(--white); /* Asegúrate de tener este valor en tu :root para mantenerlo consistente */
  background-image: linear-gradient(90deg, var(--pink), var(--purple), var(--blue)); /* Aquí añades tu gradiente */
}

/* Esto es opcional, pero útil para garantizar que el texto se muestre con el gradiente */
body {
  color: var(--accent); /* Color del texto ajustado al fondo */
}

/* Personaliza tu fondo de pantalla si prefieres que esté en ciertos elementos */
.bg-white {
  background-color: #ffffff;
}

.bg-gradient-custom {
  background-image: linear-gradient(90deg, var(--pink), var(--purple), var(--blue));
}

/* No aplicar el fondo en los componentes si lo gestionas aquí */
